<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ConnectionString" value="http://192.168.0.15:8081"/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="MetaDataPersistenceConnectionString" value="mongodb://localhost/rw_metadata_release"/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="PersistenceDataConnectionString" value="mongodb://localhost/rw_data_release"/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="MongoDataConnectionString" value="mongodb://localhost/MongoData_release"/>
  </appSettings>
</configuration>